<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Cadena de conexión para PostgreSQL en Render - Control Estudiantes -->
		<add name="ConexionBD"											
			 connectionString="Host=dpg-d08o69pr0fns73dkla4g-a.oregon-postgres.render.com;Port=5432;Database=db_control_estudiantes_bfgb;Username=admin;Password=1msHtiqL0m5mfG5p0D0wkbR68YzGEhyh;SSL Mode=Require;Trust Server Certificate=true;"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>